<div class="container">
<div class="card card-signin my-5 " style="float:right">
  <h5 class="card-header text-center" style="color: whitesmoke;">Payment</h5>
      <div class="card-body">
          <form [formGroup]="buyerForm" (ngSubmit)="onSubmit()">    
                <div class="form-group">
                  <label>Number Of Items</label>
                  <input type="text" formControlName="numberOfItems" class="form-control" autofocus [ngClass]="{ 'is-invalid': submitted && f.numberOfItems.errors }"/>
                  <div *ngIf="submitted && f.numberOfItems.errors" class="invalid-feedback">
                    <div *ngIf="f.numberOfItems.errors.required">Items count is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label >Date</label>
                  <input type="date" formControlName="dateTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateTime.errors }" />
                  <div *ngIf="submitted && f.datetime.errors" class="invalid-feedback">
                    <div *ngIf="f.datetime.errors.required">date is required</div>
                    </div>
                </div>
              <div class="form-group">
                  <label >Choose PayMent Mode</label>
                  <select formControlName="transactionType">
                      <option value="credit">Credit Card</option>
                      <option value="debit">Debit Card</option>
                      <option value="cod">Cash On Delivery</option>
                  </select>
                </div>
                <div class="form-group">

                  <label>Card Number</label>
                  <input type="text" formControlName="cardnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cardnumber.errors }" />
                  <div *ngIf="submitted && f.cardnumber.errors" class="invalid-feedback">
                    <div *ngIf="f.cardnumber.errors.required">Card number is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label>CVV</label>
                  <input type="text" formControlName="cvv" class="form-control" style="width: 30%;" [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }" />
                  <div *ngIf="submitted && f.cvv.errors" class="invalid-feedback">
                    <div *ngIf="f.cvv.errors.required">cvv is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label>ExpiryDate</label>
                  <input type="date" formControlName="ed" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ed.errors }" />
                  <div *ngIf="submitted && f.ed.errors" class="invalid-feedback">
                    <div *ngIf="f.ed.errors.required">ed is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label>Card Holders Name</label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Card holder Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label>Remarks</label>
                  <input type="text" formControlName="remarks" class="form-control"/>

                </div>
              <hr class="my-4 bg-success"/>
              <div class="form-group">
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary mr-1">Purchase</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
