<div class="container">
   <div class="card-md-3">
    <div class="card-body">
             <h3 id=t1>Add new SubCategory</h3>
             <br>
             <br><br>
 <form [formGroup]="subcatForm" (ngSubmit)="onSubmit()">
     
     
     <div class="form-group">
         <label>Subcategory Name</label>
          <input type="text" formControlName="subcategoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryName.errors }" id=a1/>
          <div *ngIf="submitted && f.subcategoryName.errors" class="invalid-feedback">
         <div *ngIf="f.subcategoryName.errors.required">Subcategory Name is required</div>
         </div>
     </div> 
     <div class="form-group">
        <label>Select Category</label>
             <select formControlName="categoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryName.errors }" id="a1" >
              <option *ngFor="let lst of categorylist" [value]="lst.categoryId">{{lst.categoryName}}</option>
              </select>
              <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
              </div>
    </div>
    <div class="form-group">
        <label>Details</label>
        <textarea rows="5" formControlName="briefDetails" class="form-control" id=a1></textarea>
        
    </div>
    <div class="form-group">
        <label>GST</label>
         <input type="text" formControlName="gst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gst.errors }" id=a1/>
         <div *ngIf="submitted && f.gst.errors" class="invalid-feedback">
        <div *ngIf="f.gst.errors.required">GST value is required</div>
        </div>
    </div>
         
         <div class="text-center">
        
            <button class="btn btn-primary mr-1" >Add</button>
            <button class="btn btn-primary mr-1" (click)="Delete()" type="button">Delete</button>
         </div>
    </form>
 </div>
 </div>
</div>
