<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="bgimage">
<nav class="navbar navbar-expand-sm navbar-light ">
    
    <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
      <ul class="navbar-nav mr-auto">
          <li>   <a class="nav-link" [routerLink]="'buyer'"><i class="glyphicon glyphicon-home" id="i1"></i>Buyer</a></li>
        <li class="nav-item" id="s1">
            <a class="nav-link" [routerLink]="'search'"><i class="glyphicon glyphicon-search" id=i1></i>Search </a>
          </li>
          <li class="nav-item" id="s1">
            <a class="nav-link" [routerLink]="'viewcart'"><i class="glyphicon glyphicon-eye-open" id=i1></i>View cart{{count}}</a>
          </li>
          <li class="nav-item" id="s1">
              <a class="nav-link" [routerLink]="'buyproduct'"><i class="glyphicon glyphicon-shopping-cart" id=i1></i>Buy Product</a>
            </li>
            <li class="nav-item" id="s1">
              <a class="nav-link" [routerLink]="'purchasehistory'"><i class="glyphicon glyphicon-record" id=i1></i>Purchase History</a>
            </li>
            <li class="nav-item" id="s1">
                <a class="nav-link" [routerLink]="'viewprofile'"><i class="glyphicon glyphicon-user" id=i1></i>View Profile</a>
              </li>
          
      </ul>
    </div>
    <div>
        <ul class="navbar-nav mr-auto">
           
        <li class="nav-item" id="s1">
            
            <a class="nav-link" [routerLink]="'viewprofile'"><i class="glyphicon glyphicon-user" id="i1"></i>MyProfile</a>
          </li>
         
        <li class="nav-item" id="s1">
            
            <a class="nav-link" [routerLink]="['/logout']"><i class="glyphicon glyphicon-user" id="i1"></i>Logout</a>
          </li>
        </ul>
          </div>
    
          
        </nav>
       
  <div>
<router-outlet></router-outlet>

</div>
</div>