<div class="bgimage">
    <div class="container">
        <div class="card offset-9" style="width: 20rem;align-items: center;" >
<div class="card">
    <div class="card-body">
    <h3 id="t1">Add new item</h3>
    <br>
    <br>
    <div class="container">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
       
       
        <div class="form-group">
            <label>Select Category</label>
                 <select formControlName="categoryId" class="form-control" (change)="GetSubCategories()" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" id="b" >
                  <option *ngFor="let lst of categorylist" [value]="lst.categoryId">{{lst.categoryName}}</option>
                  </select>
                  <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                  </div>
        </div>
        <div class="form-group">
            <label>Select SubCategory</label>
                 <select formControlName="subcategoryId" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.subcategoryName.errors }" id="b" >
                  <option *ngFor="let lst of subcategorylist" [value]="lst.subcategoryId">{{lst.subcategoryName}}</option>
                  </select>
                  <div *ngIf="submitted && f.subcategoryId.errors" class="invalid-feedback">
                  </div>
        </div>
        <div class="form-group">
            <label>Price</label>
             <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" id=a1/>
             <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
            <div *ngIf="f.price.errors.required">Item price is required</div>
            <div *ngIf="f.price.errors.pattern">Invalid format</div>
            </div>
        </div>
        <div class="form-group">
            <label>Item name</label>
             <input type="text" formControlName="itemName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }" id=a1/>
             <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback">
            <div *ngIf="f.itemName.errors.required">Item name is required</div>
            <div *ngIf="f.itemName.errors.pattern">Invalid item name</div>
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control" id=a1/>
        </div>
        
        
       
        <div class="form-group">
            <label>Stock Number</label>
             <input type="text" formControlName="stockNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stockNumber.errors }" id=a1/>
             <div *ngIf="submitted && f.stockNumber.errors" class="invalid-feedback">
            <div *ngIf="f.stockNumber.errors.required">Stock count is required</div>
            <div *ngIf="f.stockNumber.errors.pattern">Invalid stock number</div>
            </div>
        </div>
        <div class="form-group">
            <label>Remarks</label>
            <input type="text" formControlName="remarks" class="form-control" id=a1/>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" formControlName="img" (change)="fileEvent($event)">
            <br><br>
            
        </div>
        <br>
        <div class="text-center">
           
            <button class="btn btn-primary mr-1" id="a" >Add</button>
            <button class="btn btn-primary mr-1" (click)="Update()" type="button" id=a>Update</button>
            <!-- <button class="btn btn-primary mr-1" (click)="Delete()" type="button">Delete</button> -->
            <!-- <button class="btn btn-primary mr-1" (click)="View()" type="button">Search</button> -->
         </div>
    </form>
    </div>
</div>
</div>
</div>
</div>
</div>