<div class="bgimage">
  
    <div class="container">
       <div class="card-md-3">
        <div class="card-body">
  
<table class="table table-bordered">
    <tr>
        <th>Category Id</th>
        <th>Subcategory Id</th>
        <th>Subcategory Name</th>
        <th>Details</th>
        <th>GST</th>
    </tr>
    <tr *ngFor="let subcat of subcategorylist">
        <td>{{subcat.categoryId}}</td>
        <td>{{subcat.subcategoryId}}</td>
        <td>{{subcat.subcategoryName}}</td>
        <td>{{subcat.briefDetails}}</td>
        <td>{{subcat.gst}}</td>
    </tr>
</table>
</div>
</div>
</div>
</div>