
            
    <div class="container">
        <div class='bold-line'></div>
        <div class='window'>
          <div class='overlay'></div>
          <div class='content'>
            
           <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
               
               <div class="form-group">
                   <label>ID</label>
                    <input type="text" formControlName="sellerId" readonly placeholder="Enter SellerId" class="form-control"  />
                    
                   
               </div>
               <div class="form-group">
                   <label>NAME</label>
                    <input type="text" formControlName="userName" placeholder="Enter Username" class="form-control"  />
                    
               </div> 
               <div class="form-group">
                   <label>EMAIL</label>
                    <input type="text" formControlName="emailId" placeholder="Enter email address" class="form-control"  />
                    
               </div>
               <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="Enter password" class="form-control" />
                
            </div> 
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" formControlName="companyName" placeholder="Enter companyname" class="form-control" />
            </div>
            <div class="form-group">
                <label>GST</label>
                <input type="text" formControlName="gstin" placeholder="Enter GST" class="form-control" />
            </div>
            <div class="form-group">
                <label>Details</label>
                <input type="text" formControlName="briefDetails" placeholder="Enter details" class="form-control" />
            </div>
            
               <div class="form-group">
                   <label>MOBILE</label>
                    <input type="text" formControlName="mobileNo" placeholder="Enter mobile no" class="form-control" />
                    
               </div> 
               <div class="form-group">
                <label>Postal address</label>
                <input type="text" formControlName="postalAddress" placeholder="Enter address" class="form-control" />
            </div>
            
            <div class="form-group">
                <label>Website</label>
                <input type="text" formControlName="website" placeholder="Enter website" class="form-control" >
            </div>
            
       
      
       <div class="text-center">
        <button class="ghost-round full-width " type="button" (click)="EditProfile()" >Edit</button>
        <button class="ghost-round full-width " type="reset" (click)="onReset()" >Reset</button>
       </div>
       <br><br>
       
   </form>
   </div>
   </div>
   
</div>
