

    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <div class="bgimage">
    <div class="row">
      <div class="container-fluid">
<nav class="navbar navbar-expand-sm navbar-light">
    
    <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
      <ul class="navbar-nav mr-auto">
          <li>   <a class="nav-link" href="#"><i class="glyphicon glyphicon-home" id="i1"></i>Admin</a></li>
        <li class="nav-item" id="s1">
            <a class="nav-link" [routerLink]="'addcategory'">Add Category </a>
          </li>
          <li class="nav-item" id="s1">
            <a class="nav-link" [routerLink]="'addsubcategory'">Add SubCategory</a>
          </li>
          <li class="nav-item" id="s1">
            <a class="nav-link" [routerLink]="'viewcategory'">Categories</a>
          </li>
         
          
          <li class="nav-item" id="s1">
              <a class="nav-link" [routerLink]="'block-unblock-buyer'">Block/Unblock Buyer</a>
            </li>
            <li class="nav-item" id="s1">
              <a class="nav-link" [routerLink]="'block-unblock-seller'">Block/Unblock Seller</a>
            </li>
            <li class="nav-item" id="s1">
                <a class="nav-link" href="#">Daily Report</a>
              </li>
      </ul>
    </div>
    <div>
        <ul class="navbar-nav mr-auto">
           
        <li class="nav-item" id="s1">
            
            <a class="nav-link" href="#"><i class="glyphicon glyphicon-user" id="i1"></i>MyProfile</a>
          </li>
         
        <li class="nav-item" id="s1">
            
            <a class="nav-link" href="#"><i class="glyphicon glyphicon-user" id="i1"></i>Logout</a>
          </li>
        </ul>
          </div>
    
          
        </nav>
      </div>
    </div>
        
          
  <div >
    <router-outlet></router-outlet>
    
    </div>
    </div>
    
  
