#i1{
    font-size: 20px;
}
#s1{
    font-size: 15px;
}
#h{
	background-color: rgba(224, 49, 166, 0);
}
.card{
	background-image: url("src/assets/images/card.png");
}
.navbar{
	background-color: rgba(73, 71, 73, 0); 
}
.sidenav a {
	margin-top: 30px;
	padding: 0px 0px 0px 20px;
	text-decoration: none;
	font-size: 20px;
	color: blanchedalmond;
	display: inline-block;
}
.sidenav {
	height: 90%;
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 66px;
	left: 0px;
	background-color:lightskyblue ;
	overflow-x: hidden;
	padding-top: 20px;
}
.bgimage {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("src/assets/images/home.jpg");
	height:670px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  .img-container{
	  
	  margin:28px 0 20px 0;
	  
  }
  #i{
	border-image: url("src/assets/images/login.png");
	width: 20%;
  border-radius: 20%;
  }
 
#a1
{
	width:90%;
}
.btn
{
	align-items: center;
}

.container{
	align-self: center;
	width:50%
}
#a
{
	align-items: center;
}
#b{
width:150px;
text-align: center;
margin: 0 auto;

}