<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<div class="bgimage">
<div class="row">
   <div class="container-fluid"> 
<nav class="navbar navbar-expand-lg ">
 <a class="navbar-brand" href="" [routerLink]="['/home']"><i class="glyphicon glyphicon-home" id=i1></i>Home</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
<ul class="navbar-nav mr-auto">
  <li class="nav-item " id=s1>
    <a class="nav-link" href="#"><span class="glyphicon glyphicon-user" id=i1></span>  About</a>
  </li>
  <li class="nav-item" id=s1>
    <a class="nav-link" href="#"><span class="glyphicon glyphicon-earphone" id=i1></span>  ContactUs</a>
  </li>  
</ul>
</div>
<ul class="navbar-nav ml-auto">
  <li class="nav-item " id=s1>
      <a class="nav-link" [routerLink]="['/login']"><span  id=i1></span> Login</a>
    </li>
    <li class="nav-item" id=s1>
      <a class="nav-link" [routerLink]="['/logout']"><span  id=i1></span> Logout</a>
    </li>
 </ul>
 </nav>
</div>
</div>




  <div class="row">
      <div class="col-2">
     
      
         
          
           <div class="container">
            <div class="card " style="width: 30rem;align-items: center;" >
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      
                    <div class="card-body">
                      <div class="form-group">
                          <label>NAME</label>
                           <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                           <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                          <div *ngIf="f.userName.errors.required">Name is required</div>
                          <div *ngIf="f.userName.errors.pattern">Invalid username</div>
                          </div>
                      </div> 
                      <div class="form-group">
                          <label>EMAIL</label>
                           <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                           <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                          <div *ngIf="f.emailId.errors.required">Email is required</div>
                          <div *ngIf="f.emailId.errors.pattern">Invalid email address</div>
                          </div>
                      </div> 
                      
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" formControlName="password"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.pattern">Invalid password</div>
                  </div>
              </div>
              <div class="form-group">
                <label>MOBILE</label>
                 <input type="text" formControlName="mobileNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" />
                 <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNo.errors.required">Mobile Number is required</div>
                <div *ngIf="f.mobileNo.errors.pattern">Invalid mobile number</div>
                </div>
            </div> 
            <div class="form-group">
              <label>Created Date</label>
               <input type="date" formControlName="createdDateTime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.createdDateTime.errors }" />
               <div *ngIf="submitted && f.createdDateTime.errors" class="invalid-feedback">
              <div *ngIf="f.createdDateTime.errors.required">creation date is required</div>
              </div>
          </div> 
              
             
              <div class="text-center">
                  <button class="btn btn-primary mr-1 " id=t1>Register</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()" id=s1>Reset</button>
              </div>
              <br><br>
            </div>
          </form>
      </div>
      
  </div>
  </div>
 
</div>


<router-outlet></router-outlet>
</div>