<div class="container">
<div class='bold-line'></div>
      <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
          <div class='welcome'>View Profile</div>
          <form [formGroup]="viewprofileForm" (ngSubmit)="onSubmit()">
            <div class="input-fields">
              <label>ID</label>
              <input type="text" formControlName="buyerId" placeholder="Enter ID" readonly class="form-control" [ngClass]="{ 'is-invalid': submitted && f.buyerId.errors }" id=a/>
                
                <label>NAME</label>
                <input type="text" formControlName="userName"placeholder="Enter Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" id=a/>
                 
              <label>Password</label>
              <input type="password" formControlName="password" placeholder="Enter Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id=a/>
                
              <label>EMAIL</label>
                <input type="text" formControlName="emailId" placeholder="Enter Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" id=a />
                
                <label>MOBILE</label>
                <input type="text" formControlName="mobileNo" placeholder="Enter Mobile Number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" id=a/>
                
               <label>Date</label>
                <input type="text" formControlName="createdDateTime" placeholder="Enter Date" class="form-control" id=a/>
                
            </div>
              <br><br>
            <div class="text-center">
              
              <button class="ghost-round full-width " type="button" (click)="EditProfile()" >Edit</button>
              <button class="ghost-round full-width " type="reset" (click)="onReset()" >Reset</button>
            </div>
          </form>
        </div>
      </div>
      </div>